<table>
    <tr><td>Name</td><td>Desc.</td><td>Due At</td></tr>
    {% for todo in todos %}
        <tr><td>{{ todo.getName() }}</td><td>{{ todo.getDescription() }}</td><td>{{ todo.getDueAt().format('Y-m-d H:i:s') }}</td></tr>
    {% endfor %}
</table>